<h1>All orders</h1>

<table>
  <tr>
    <th>By</th>
    <th>Type name</th>
    <th>Bread name</th>
    <th>Cheese name</th>
    <th>Topping 1</th>
    <th>Topping 2</th>
    <th>Topping 3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.By %></td>
    <td><%= order.Type_name %></td>
    <td><%= order.Bread_name %></td>
    <td><%= order.Cheese_name %></td>
    <td><%= order.Topping_1 %></td>
    <td><%= order.Topping_2 %></td>
    <td><%= order.Topping_3 %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
