<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	
<h1>	"Nothing is impossible, the word itself says 'I'm possible'!" Audrey Hepburn  </h1>


    Now that you know you can do it, could you please make a sandwich  </h1>
   
	<p style="color:red">
      For: <%= @order.By %>
      </p>  

	<p style="color:red">
      Type: <%= @order.Type_name %>
      </p>

	<p style="color:red">
      Bread: <%= @order.Bread_name %>
      </p>
	<p style="color:red">
      Cheese: <%= @order.Cheese_name %>
      </p>
	<p style="color:red">
      Toppings: <%= @order.Topping_1 %> , <%= @order.Topping_2 %> , <%= @order.Topping_3 %>
      </p>
    

  </body>
</html>